<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<%= link_to "Delete",
task_path(@task),
data: {turbo_method: :delete, turbo_confirm: "Are you shure?"}
%>

<%= link_to 'Back',
task_path
%>

<%= link_to 'Update', task_edit_path(@tasak) %>
